:root {
    --primary: #85653c;
    --secondary: #5a5349;
    --tertiary: #9a9d96;
    --fourth: black
}

.Landing {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 50vh;
    background-image: url('../../public/rocks0.jpeg');
}


.LandingTextContainer {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    position: relative;
    width: auto;
    margin-right: auto;
}


.LandingText {
    margin: auto;
    margin-left: auto;
    font-size: 50px;
    text-align: left;
    color: black;
    font-weight: bold;
    z-index: 1;
    /* text-shadow: -2px -2px 0 var(--fourth), 2px -2px 0 var(--fourth), -2px 2px 0 var(--fourth), 2px 2px 0 var(--fourth); */
}

.LandingTextBackground {
    position: absolute;
    background-color: var(--tertiary);
    height: 100%;
    width: 100%;
    z-index: 0.25;
    opacity: 75%;
}

.LandingSearchContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
}

.LandingSearchInput {
    background-color: white;
    width: 50vw;
}

.LandingSearchButton {
    background-color: var(--secondary);
    width: 20vw;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--tertiary);

}


.ImageGallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    padding-top: 50px;
    padding-bottom: 25px;
    margin-left: auto;
    margin-right: auto;

    justify-content: center;
    background-color: var(--primary);
    width: 100%;
}

@media only screen and (max-width:600px) {
    .ImageGallery {
        flex-direction: column;
        width: 100vw;
    }

    .LandingSearchContainer {
        display: flex;
        flex-direction: column;
        height: 100px;
        gap: 10px;
    }

    .LandingSearchInput,
    .LandingSearchButton {
        width: 80vw;
        height: 45px;
    }
}