.ImageCard {
    background-color: var(--tertiary);
    width: max(20vw, 400px);
    display: flex;
    flex-direction: column;
    
}

.ImageCard-Image {
    /* aspect-ratio: 16/9; */
    object-fit: cover;
    height: 300px;
}



.ImageCard-TextContainer {
    margin-top: auto;
    height: 50px;
    padding-bottom: 10px;
}

.ImageCardPrimaryText, .ImageCardSecondaryText {
    margin: 0;
    text-align: left;
    margin-left: 10px;
}

@media only screen and (max-width:600px) {
    .ImageCard {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}